<div class="article-meta">
    <a href="{% url "profile_detail" username=article.author.user.username %}">
        <img src="{{ article.author.image }}" alt="{{ article.author.user.username }}">
    </a>
    <div class="info">
        <a href="{% url "profile_detail" username=article.author.user.username %}" class="author">
            {{ article.author.user.username }}
        </a>
        <span class="author">
            {{ article.author.user.username }}
        </span>
        <span class="date">
            {{ article.created_at|date:"D M d Y" }}
        </span>
    </div>
    {% if user == article.author.user %}
        <span>
            <a
                href="{% url "article_update" slug=article.slug uuid=article.uuid %}"
                class="btn btn-outline-secondary btn-sm"
            >
            <span>
                Edit Article
            </span>
            </a>
            {% include "article_delete.html" %}
        </span>
    {% endif %}
</div>