<nav class="navbar navbar-light">
    <div class="container">
        <a rel="prefetch" class="navbar-brand" href="/">conduit</a>
        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                {% url 'home' as home %}
                <a
                href="{{ home }}"
                rel="prefetch"
                class="nav-link {% if request.path == home %}active{% endif %}"
                > 
                Home
                </a>
            </li>
            <li class="nav-item">
                {% url 'article_create' as article_create %}
                <a
                    href="{{ article_create }}"
                    rel="prefetch"
                    class="nav-link {% if request.path == article_create %}active{% endif %}"
                    >
                    <span class="ion-compose">
                        New Post
                    </span> 
                </a>
            </li>
        </ul>
    </div>
</nav>